<h2>Adding book</h2>

<div class="general-container">
  <div class="add-book-container">
    <input type="text" placeholder="Enter title" #title />
    <input type="text" placeholder="Enter year" #year />
    <input type="text" placeholder="Enter publisher" #publisher />
    <input type="text" placeholder="Enter image url" #image_url />
    <input type="text" placeholder="Enter library id" #libraryId />
    <input type="text" placeholder="Enter author id" #authorId />

    <div class="btn-container">
      <button
        (click)="addBook(title, year, publisher, image_url, libraryId, authorId)" class="add-btn"
      >
        Add book
      </button>

      <button (click)="goToBooks()">Return to books</button>
    </div>
  </div>

  <div *ngIf="book" class="added-book-container">
    <h3>Added book</h3>

    <div class="added-book">
        <p>Isbn: {{ book.isbn }}</p>
        <p class="book-title">Title: {{ book.title }}</p>
        <p>Year: {{ book.year }}</p>
        <p>Publisher: {{ book.publisher }}</p>
        <img src="{{ book.image_url }}" alt="Book cover" />
        <p>Library id: {{ book.libraryId }}</p>
        <p>Author id: {{ book.authorId }}</p>
    </div>

    <p *ngIf="message" class="message">{{ message }}</p>
  </div>
</div>
