<div class="general-container">
  <mat-card>
    <form #editionForm="ngForm" (ngSubmit)="editUser(editionForm.value)">
      <mat-card-title>Editing user</mat-card-title>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          name
          type="text"
          name="name"
          ngModel="{{userToEdit.name}}"
          matInput
          required
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input
          lastname
          [value]="userToEdit.lastname"
          type="text"
          name="lastname"
          ngModel="{{userToEdit.lastname}}"
          matInput
          required
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          email
          [value]="userToEdit.email"
          type="email"
          name="email"
          ngModel="{{userToEdit.email}}"
          matInput
          required
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          password
          [value]="userToEdit.password"
          type="password"
          name="password"
          placeholder="Enter password"
          ngModel="{{userToEdit.password}}"
          matInput
          required
        />
      </mat-form-field>

      <div class="btn-container">
        <button
          type="submit"
          mat-raised-button
          [disabled]="editionForm.invalid"
          class="edit-btn"
        >
          Edit user
        </button>
  
        <button (click)="goToProfile()" mat-raised-button color="primary" class="go-back-btn">
          <mat-icon style="margin:0; padding:0;">arrow_back</mat-icon>
          <span>Profile</span>
        </button>
      </div>
    </form>


    <mat-error *ngIf="errorMessage" class="error-message">{{ errorMessage }}</mat-error>
    <mat-error *ngIf="successMessage" class="success-message">{{ successMessage }}</mat-error>
  </mat-card>
</div>
