<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
      (mouseover)="menuTrigger.openMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item routerLink="">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn" (click)="goToProfile()">
          <mat-icon *ngIf="!currentUser.isSuperAdmin">person</mat-icon>
          <mat-icon *ngIf="currentUser.isSuperAdmin">supervisor_account</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item routerLink="Libraries">
          <mat-icon>account_balance</mat-icon>
          <span>Libraries</span>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn" routerLink="AddBook">
          <mat-icon>add</mat-icon>
          <span>Add book</span>
        </button>
        <button mat-menu-item *ngIf="!isLoggedIn" routerLink="Login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn && currentUser.isSuperAdmin" routerLink="Register">
          <mat-icon>person_add</mat-icon>
          <span>Register</span>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn"(click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </span>
    </mat-menu>
  </span>

  <div class="navbar-remaining-space">
      <p class="app-title">Blazar Library</p>
      <p *ngIf="currentUser.isLoggedIn" class="user-welcome-message">Welcome, {{ currentUser.name}} {{ currentUser.lastname }}</p>
  </div>
</mat-toolbar>
