<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
      (mouseover)="menuTrigger.openMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span routerLink="">Home</span>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn">
          <mat-icon *ngIf="!currentUser.isSuperAdmin">person</mat-icon>
          <mat-icon *ngIf="currentUser.isSuperAdmin">supervisor_account</mat-icon>
          <span (click)="goToProfile()">Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>account_balance</mat-icon>
          <span routerLink="Libraries">Libraries</span>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn">
          <mat-icon>add</mat-icon>
          <span routerLink="AddBook">Add book</span>
        </button>
        <button mat-menu-item *ngIf="!isLoggedIn">
          <mat-icon>login</mat-icon>
          <span routerLink="Login">Login</span>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn && currentUser.isSuperAdmin">
          <mat-icon>person_add</mat-icon>
          <span routerLink="Register">Register</span>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn">
          <mat-icon>logout</mat-icon>
          <span (click)="logout()">Logout</span>
        </button>
      </span>
    </mat-menu>
  </span>

  <div class="navbar-remaining-space">
      <p class="app-title">Blazar Academy Books Library</p>
      <p *ngIf="currentUser.isLoggedIn" class="user-welcome-message">Welcome, {{ currentUser.name}} {{ currentUser.lastname }}</p>
  </div>
  <!-- <span class="fill-remaining-space">Blazar Academy Books Library</span> -->
</mat-toolbar>
