<div class="general-container">
  <mat-card>
    <mat-card-title>{{ currentUser.name }} {{ currentUser.lastname }}</mat-card-title>
    
    <div class="user-info">
      <mat-card-subtitle>User information</mat-card-subtitle>
      
      <p><span>Id:</span> {{ currentUser.id }}</p>
      <p><span>Administrator account:</span> {{ currentUser.isSuperAdmin ? "Yes" : "No" }}</p>
      <p><span>Name:</span> {{ currentUser.name }}</p>
      <p><span>Lastname:</span> {{ currentUser.lastname }}</p>
      <p><span>Email:</span> {{ currentUser.email }}</p>
      <p><span>Password:</span> {{ currentUser.password }}</p>
    </div>

    <div class="btn-container">
      <button (click)="goToEdit(currentUser.id)" mat-raised-button class="edit-btn">Edit account</button>
    </div>
  </mat-card>


  <div *ngIf="currentUser.isSuperAdmin === true">
    <app-users></app-users>
  </div>
</div>