<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
      (mouseover)="menuTrigger.openMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span routerLink="">Home</span>
        </button>
        <button mat-menu-item>
          <mat-icon>account_balance</mat-icon>
          <span routerLink="Libraries">Libraries</span>
        </button>
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span routerLink="Authors">Authors</span>
        </button>
        <!-- <button mat-menu-item>
          <mat-icon>book</mat-icon>
          <span routerLink="Books">Books</span>
        </button> -->
        <button mat-menu-item>
          <mat-icon>add</mat-icon>
          <span routerLink="AddBook">Add new book</span>
        </button>
      </span>
    </mat-menu>
  </span>

  <span class="fill-remaining-space">Book Library - Blazar Academy</span>
</mat-toolbar>

<router-outlet></router-outlet>
