<div class="general-container">
  <mat-card class="edit-book-container">
    <form #editBookForm="ngForm">
      <mat-card-title>Editing book</mat-card-title>
      <mat-card-subtitle #isbn>Isbn: {{ currentBook.isbn }}</mat-card-subtitle>

      <mat-form-field>
        <mat-label>Title</mat-label>
        <input
          type="text"
          name="title"
          placeholder="Enter title"
          ngModel="{{ currentBook.title }}"
          title
          ngModel
          matInput
          required
          [disabled]="disabledAll"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Year</mat-label>
        <input
          type="text"
          name="year"
          placeholder="Enter year"
          ngModel="{{ currentBook.year }}"
          year
          ngModel
          matInput
          required
          [disabled]="disabledAll"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Publisher</mat-label>
        <input
          type="text"
          name="publisher"
          placeholder="Enter publisher"
          ngModel="{{ currentBook.publisher }}"
          publisher
          ngModel
          matInput
          required
          [disabled]="disabledAll"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Image</mat-label>
        <input
          type="text"
          name="image_url"
          placeholder="Enter image url"
          ngModel="{{ currentBook.image_url }}"
          image_url
          ngModel
          matInput
          required
          [disabled]="disabledAll"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Library</mat-label>
        <mat-select
          name="libraryId"
          [formControl]="selectedLibraryId"
          [compareWith]="compareWith"
          required
          [disabled]="disabledAll"
        >
          <mat-option disabled="">Select library</mat-option>
          <mat-option *ngFor="let library of libraries" value="{{ library.id }}">
            {{ library.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Author</mat-label>
        <input
          type="text"
          name="author"
          placeholder="Enter author name"
          ngModel="{{ currentBook.author }}"
          author
          ngModel
          matInput
          required
          [disabled]="disabledAll"
        />
      </mat-form-field>

      
      <div class="btn-container">
        <button
          type="submit"
          (click)="editBook(editBookForm.value)"
          mat-raised-button
          class="edit-btn"
          [disabled]="editBookForm.pristine || editBookForm.invalid || disabledAll"
        >
          Confirm changes
        </button>
  
        <button (click)="deleteBook()" mat-raised-button class="delete-btn" [disabled]="disabledAll">
          Delete book
        </button>

        <button (click)="goToBooks()" mat-raised-button color="primary" class="go-back-btn">
          <mat-icon style="margin:0; padding:0;">arrow_back</mat-icon>
          <span>Books</span>
        </button>
      </div>
    </form>

    <app-loader *ngIf="!errorMessage && !successMessage && showLoader"></app-loader>
    <mat-error *ngIf="errorMessage" class="error-message">{{ errorMessage }}</mat-error>
    <mat-error *ngIf="successMessage" class="success-message">{{ successMessage }}</mat-error>
  </mat-card>
</div>
