h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  margin: 1em 1em 0.5em 1em;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.search-engine-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(236, 234, 239);

  div {
    margin: 0 3em;
  }
}

mat-form-field {
  width: 280px;
  margin-right: .5em;
}

.libraries-container {
  max-width: 100%;
  margin: auto;
}

table {
  width: 100%;
  margin: auto;
}

.mat-cell,
.mat-header-cell {
  padding: 0 0.5em;
  font-size: 0.9em;
}

.mat-cell {
  overflow: hidden;
}

td:hover {
  cursor: pointer;
}

.col-title {
  text-transform: capitalize;
}

.full-width {
  font-size: 14px;
  width: 100%;
}

.message {
  width: 100%;
  text-align: center;
  margin-top: 4em;
  color: black;
}
