mat-card {
  padding: 2em;
  min-width: 450px;

  mat-card-title {
    margin-bottom: 2em;
  }

  p > span {
    font-weight: bold;
  }

  .user-info {
    margin-bottom: 4em;
  }
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

.delete-btn,
.edit-btn {
  color: white;
}

.delete-btn {
  background-color: rgb(236, 55, 55);
}

.edit-btn {
  background-color: rgb(255, 136, 0);
}

.register-container {
  margin-left: 5em;

  .users-title {
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }

  mat-card-header {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .register-title {
        font-size: 1.2em;
      }

      .register-btn {
        background-color: rgb(9, 170, 9);
      }
    }

    form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      mat-form-field {
        width: 80%;
      }
    }
  }

  mat-card-content {
    max-height: 500px;
    overflow-y: scroll;

    mat-card {
      margin-top: 1em;
      background-color: rgb(243, 243, 243);

      mat-card-subtitle {
        margin-bottom: 0.5em;
      }

      p {
        font-size: 0.9em;
        padding: 0;
        margin: 0;
      }

      .small-edit-btn,
      .small-delete-btn {
        margin: 1em 1em 0 0;
        border: none;
        border-radius: 3px;
        padding: 0.3em 0.8em;
        color: white;
      }

      .small-edit-btn {
        background-color: rgb(255, 136, 0);
      }

      .small-delete-btn {
        background-color: rgb(236, 55, 55);
      }

      .small-edit-btn:hover,
      .small-delete-btn:hover {
        cursor: pointer;
      }
    }

    mat-card:first-child {
      margin-top: 0;
    }
  }
}

.error-message {
  text-align: center;
  margin-top: 2em;
}
