.general-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../assets/images/library.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  mat-card {
    display: flex;
    flex-direction: column;
    margin-top: 12em;
    padding: 5em 3em;
    background-color: white;
    border-radius: 5px;

    h1 {
      justify-self: center;
      align-self: center;
      font-size: 3em;
    }

    .btn-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 4em;

      button {
        padding: .5em 2em;
      }
    }
  }
}

