.general-container {
  max-width: 100%;
  margin: auto;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.search-engine-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .3em auto;

  .show-libraries-btn {
    border: none;
    border-radius: 3px;
    padding: 0 0.8em;
    color: white;
    background-color: rgb(110, 19, 195);
  }

  .show-libraries-btn:hover {
    cursor: pointer;
  }

  mat-form-field {
    padding-top: 1.5em;
  }
}

table {
  width: 100%;
  margin: auto;
}

.mat-cell,
.mat-header-cell {
  padding: 0 1em;
  font-size: 0.9em;
}

.mat-cell {
  overflow: hidden;
}

.mat-cell:hover {
  cursor: pointer;
}

.col-title {
  text-transform: capitalize;
}

.image_url,
.title {
  max-width: 500px;
}

.title,
.publisher {
  text-transform: capitalize;
}

.full-width {
  font-size: 14px;
  width: 100%;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0.5em;
  padding: 0.5em;
  gap: 2em;

  p {
    margin-top: 1em;
    color: rgb(169, 166, 166);
  }

  button {
    border: none;
    border-radius: 3px;
    padding: .5em 0.8em;
    color: white;
    font-weight: bold;
    background-color: rgb(110, 19, 195);
  }

  button:hover {
    cursor: pointer;
  }

  mat-form-field {
    width: 100px;
  }
}

mat-error {
  width: 100%;
  margin-top: 5em;
  text-align: center;
  font-size: 1.2em;
  color: black;
}
