h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  margin: 1em 1em 0 1em;
}

.general-container {
  max-width: 100%;
  margin: auto;
}

.search-engine-container {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-left: 2em;
  margin-bottom: 1em;
  display: flex;
}

table {
  width: 100%;
  margin: auto;
}

.mat-cell,
.mat-header-cell {
  padding: 0 1em;
  font-size: .9em;
}

.mat-cell {
  overflow: hidden;
}

.mat-cell:hover {
  cursor: pointer;
}

.col-title {
  text-transform: capitalize;
}

.image_url, .title {
  max-width: 500px;
}

.title, .publisher {
  text-transform: capitalize;
}

.full-width {
  font-size: 14px;
  width: 100%;
}

button {
  margin: 1em 0;
  margin-top: 1.5em;
  align-self: center;
  padding: 0.5em;
}

button:hover {
  cursor: pointer;
}

.show-libraries-btn {
  margin: 0;
  margin: 1em 0 1em 3em;
  margin-top: 1.5em;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: .1em;
  padding: .5em;
  gap: 2em;

  p {
    margin-top: 1em;
    color: rgb(169, 166, 166);
  }

  button {
    padding: .5em 1em;
  }
}

.message {
  width: 100%;
  margin-top: 1em;
  text-align: center;
  color: black;
}

select {
  margin: 0;
  padding: 0;
  margin-top: 1.5em;
  margin-left: 3em;
  padding: 0 .3em;
  height: 2.5em;
  border-radius: 3px;
  background-color: rgb(246, 242, 242);
  width: 200px;
}
