<div class="general-container">
  <div class="search-engine-container" *ngIf="books">
    <h2 *ngIf="libraryId">Books of library id: {{ libraryId }}</h2>
    <h2 *ngIf="bookId">Books with isbn: {{ bookId }}</h2>
    <h2 *ngIf="bookTitle">Books with title: {{ bookTitle }}</h2>
    <h2 *ngIf="bookAuthor">Books of author: {{ bookAuthor }}</h2>

    <button (click)="goToLibraries()" class="show-libraries-btn">Show libraries</button>

    <select [(ngModel)]="selected" #selectedOption (change)="valueChange(selectedOption.value)">
      <option value="" disabled>Select order</option>
      <option value="titleOrder">Order books by title</option>
      <option value="yearOrder">Order books by year</option>
    </select>
  </div>

  <table 
    mat-table 
    [dataSource]="books" 
    *ngIf="!errorMessage && books"
    class="mat-elevation-z8" 
  >
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef class="col-title">{{ column === "Delete" || column === "Edit" ? "" : column }}</th>
      <td mat-cell *matCellDef="let element" class="{{column}}">{{ element[column] }}</td> 
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="goToEditMode(row)"></tr>
  </table>

  <!-- <mat-paginator
    #paginator
    *ngIf="!errorMessage"
    [pageIndex]="pageIndex"
    [length]="length"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    showFirstLastButtons
    (page)="pageEvent = getServerData($event)"
  ></mat-paginator> -->

  <div class="paginator" *ngIf="!errorMessage && books">
    <button (click)="getFirstPage()"> << </button>
    <button (click)="getPreviousPage()"> < </button>
    <p>Total records: {{ totalRecords }}</p>
    <p>Page: {{ pageNumber }} of {{ totalPages }}</p>
    <button (click)="getNextPage()"> > </button>
    <button (click)="getLastPage()"> >> </button>
  </div>


  <p *ngIf="errorMessage" class="message">{{ errorMessage }}</p>
</div>
